{% extends 'problem/layout.html.twig'%}

{% block published %}{% endblock %}
{% block title %}editing {{ parent() }}{% endblock %}
{% block main %}
    <style>
        label{
            width:100%;
        }
    </style>
    <form action="/contests/{{ problem.contest.id }}/edit/{{ problem.letter }}/process" method="post" id="contestform">

        <div class="form-group">
            <label for="">Title
                <input type="text" class="form-control" id="" name="title" aria-describedby="" placeholder="Enter Title">
            </label>
        </div>
        <div class="form-group">
            <label >Statement
                <textarea class="form-control" form="contestform" name="statement" rows="6"></textarea>
            </label>
        </div>
        <div class="form-group">
            <label >input specifications
                <textarea class="form-control" form="contestform" name="input_spec" rows="4"></textarea>
            </label>
        </div>
        <div class="form-group">
            <label >output specifications
                <textarea class="form-control" form="contestform" name="output_spec" rows="4"></textarea>
            </label>
        </div>
        <div class="form-group">
            <label >validator
                <textarea class="form-control" form="contestform" name="validator" rows="4"></textarea>
            </label>
        </div>
        <div class="form-group">
            <label >solution
                <textarea class="form-control" form="contestform" name="solution" rows="4"></textarea>
            </label>
        </div>
        <div class="form-group">
            <label >proof
                <textarea class="form-control" form="contestform" name="proof" rows="4"></textarea>
            </label>
        </div>
        <div class="form-group">
            <label >input sample
                <textarea class="form-control" form="contestform" name="outsamp" rows="4"></textarea>
            </label>
        </div>
        <div class="form-group">
            <label >output sample
                <textarea class="form-control" form="contestform" name="outsamp" rows="4"></textarea>
            </label>
        </div>
        <div class="form-group">
            <label >points
                <input type="number" class="form-control" id="" name="points" aria-describedby="" placeholder="Enter Points">
            </label>
        </div>

        <button type="submit" name="save" value="save" class="btn btn-dark">save</button>
    </form>
{% endblock %}
