{% extends 'headerBase.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('problem') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('problem') }}
{% endblock %}

{% block title %}Hello ProblemController!{% endblock %}
{% block body %}
    <div class="container mt-2">
        <div class="row">
            <div class="col-9">
                <nav class="nav nav-pills nav-justified">
                    <a class="nav-item nav-link bg-primary text-white" href="#">Problems</a>
                    <a class="nav-item nav-link bg-primary text-white" href="#">Scoreboard</a>
                    <a class="nav-item nav-link bg-primary text-white" href="#">submissions</a>
                </nav>
                <hr>
                <div class="problem mt-2">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Problem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Solution</a>
                        </li>
                    </ul>
                    <div class="problem-wrapper p-2">
                        <h1>A. Do Not Be Distracted!</h1>
                        <pre>Polycarp has 26 tasks. Each task is designated by a capital letter of the Latin alphabet.

                            The teacher asked Polycarp to solve tasks in the following way: if Polycarp began to solve some
                            task, then he must solve it to the end, without being distracted by another task. After
                            switching to another task, Polycarp cannot return to the previous task.

                            Polycarp can only solve one task during the day. Every day he wrote down what task he solved.
                            Now the teacher wants to know if Polycarp followed his advice.

                            For example, if Polycarp solved tasks in the following order: "DDBBCCCBBEZ", then the teacher
                            will see that on the third day Polycarp began to solve the task 'B', then on the fifth day he
                            got distracted and began to solve the task 'C', on the eighth day Polycarp returned to the task
                            'B'. Other examples of when the teacher is suspicious: "BAB", "AABBCCDDEEBZZ" and "AAAAZAAAAA".

                            If Polycarp solved the tasks as follows: "FFGZZZY", then the teacher cannot have any suspicions.
                            Please note that Polycarp is not obligated to solve all tasks. Other examples of when the
                            teacher doesn't have any suspicious: "BA", "AFFFCC" and "YYYYY".

                            Help Polycarp find out if his teacher might be suspicious.</pre>

                        <section>
                            <h3>input:</h3>
                            <pre>
                                The first line contains an integer t (1≤t≤1000). Then t test cases follow.

The first line of each test case contains one integer n (1≤n≤50) — the number of days during which Polycarp solved tasks.

The second line contains a string of length n, consisting of uppercase Latin letters, which is the order in which Polycarp solved the tasks.
                            </pre>
                        </section>
                        <section>
                            <h3>output:</h3>
                            <pre>
                            Output the minimum time it will take for Dima to get to school. If he cannot get to school at
                            all, then output "-1".
                            </pre>
                        </section>
                        <div class="container">
                            <div class="row mt-3">
                                <div class="col-md-5 examples">
                                    INPUT:
                                    <button data-clipboard-target="#input1"
                                            class="tocopy float-right"
                                            data-toggle="popover"
                                    >
                                        <i alt="copy" class="fas fa-copy"></i>
                                    </button>
                                    <pre class="mt-1" id="input1">
                                        7 11
                                        42 77 94 76 40 66 43 28 66 23
                                        27 34 41 31 83 13 64 69 81 82
                                        23 81 0 22 39 51 4 37 84 43
                                        62 37 82 86 26 67 45 78 85 2
                                        79 18 72 62 68 84 69 88 19 48
                                        0 27 21 51 71 13 87 45 39 11
                                        74 57 32 0 97 41 87 96 17 98
                                        69 58 76 32 51 16 38 68 86 82 64
                                        53 47 33 7 51 75 43 14 96 86 70
                                        80 58 12 76 94 50 59 2 1 54 25
                                        14 14 62 28 12 43 15 70 65 44 41
                                        56 50 50 54 53 34 16 3 2 59 88
                                        27 85 50 79 48 86 27 81 78 78 64
                                    </pre>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-5 examples">
                                    OUTPUT:
                                    <button data-clipboard-target="#output1" class="tocopy float-right">
                                        <i alt="copy" class="fas fa-copy"></i></button>
                                    <pre class="mt-1" id="output1">498</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
{% endblock %}
