{% extends 'problem/layout.html.twig' %}

{% block title %}Scoreboard{% endblock %}

{% block main %}
        <a class="btn btn-light mb-2" href="#"> Show my rank</a>

<table class="table table-hover">
        <thead>
        <tr>
                <th scope="col">Rang</th>
                <th scope="col">User</th>
                <th scope="col" class="text-center">Solved</th>
                {% for problem in problems %}
                <th scope="col" class="text-center"> <a href="{{ path('problem', {id: id, letter: problem.letter}) }}"> {{ problem.letter }} </a> </th>
                {% endfor %}
                <th scope="col">Penalty</th>

        </tr>
        </thead>
        <tbody>
        {% for problem in problems %}
                <tr>
                        <td>
                                1
                        </td>
                        <td>
                                User1
                        </td>
                        <td class="text-center">
                                6
                        </td>
                        {% for problem in problems %}
                                <td scope="col" class="text-center" > + <br> 1:15 </td>
                        {% endfor %}
                        <td> 6969</td>
                </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock %}
