{% extends 'problem/layout.html.twig' %}
{% set show = "solution" %}
{% block main %}
    <section>
        <h1>{{ problem.letter }}.{{ problem.title }}</h1>
        <h3>Solution:</h3>
        {% if problem.proof is not null %}
            <div class="purify">
                {{ problem.proof|raw }}
            </div>
        {% else %}
            <div>
                Unfortunately there's no explanation for this problem yet
            </div>
        {% endif %}

        <h3>Code:</h3>
        {% if problem.solution is not null %}
            <div class="purify">
                {{ problem.solution|raw }}
            </div>
        {% else %}
            <p>
                Unfortunately there's no code solution for this problem yet
            </p>
        {% endif %}
    </section>
{% endblock %}