{% extends 'problem/layout.html.twig' %}
{% set show = "solution" %}
{% block main %}
    <section>
        <h1>{{ problem.letter }}.{{ problem.title }}</h1>

        <h3>Solution:</h3>
        {{ problem.statement }}
    </section>
{% endblock %}