{% extends 'problem/layout.html.twig' %}
{% set show = "submit" %}
{% block main %}
    <div class="container" style="margin-top: 10px">
        <textarea class="form-control editor" id="editor"></textarea>
        <div class="form-group">
            <div class="col-sm-5">
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                <button id="btn-open-file" type="button" class="btn btn-primary">
                    <i class="fas fa-folder-open"> </i> Open
                </button>
                <input type="file" id="input-open-file" style="display:none;">
            </div>
        </div>
    </div>
{% endblock %}