@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
* {
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../images/test.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
.navbar-brand{
    margin-left: 2rem;
    color: white;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
a , a:focus , a:hover{
    text-decoration: none;
    color: #343a40;
}
section.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    /* letter-spacing: 1px; */
    color: #eee;
}

section.main h1, section.main h3 {
    text-shadow: 0 5px 10px black;
}

div.slide {
    animation-name: slidein;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    text-align: center;
    opacity: 0;
    position: relative;
    top: 10%;
}


header {
    font-family: 'new tegomin', serif;
    color: #333;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -40vw;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

header>nav{
    display: flex;
    align-items: center;
}
header>nav>li {
    box-sizing: border-box;
    list-style: none;
    font-size:120%;
    /* padding: 10px; */
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    margin-left: -2px;
    transition: border 0.5s ease;
}
header>nav>li:hover{
    border-right: 2px solid #eee;
    border-left: 2px solid #eee;
    /* border-radius: 5px; */
}
header>nav a{
    color: inherit;
    text-decoration: none;
    display: block;
    margin: 10px;
}

@media (max-width: 786px) {
    .card-text {
        font-size: 2vw;
    }
}
@media (max-width: 576px) {
    .card-text {
        font-size: 3vw;
    }
}

@keyframes slidein {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    80%{
        opacity: 0.7;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



span.arrow {
    transform: translateX(10px) rotate(45deg);
    border: 2px solid white;
    border-top: none;
    border-left: none;
    display: block;
    width: 25px;
    height: 25px;
}

div.scroll-down {
    position: relative;
    width: 60px;
    height: 100px;
    margin: 0 auto;
    /* border: 2px solid white;
    border-radius: 5px; */
    margin-top: 50px;
    opacity: 0;
    animation: fadein 1s 1.5s forwards;
    cursor: pointer;
}

.scroll-down>div {
    position: absolute;
    width: 50px;
    left: calc(50% - 25px);
    top: 5px;
}

.scroll-down>div>.arrow:nth-child(1) {
    animation: scroll-animation 0.5s alternate infinite;
}

.scroll-down>div>.arrow:nth-child(2) {
    animation: scroll-animation 0.5s 0.1s alternate infinite;
}

.scroll-down>div>.arrow:nth-child(3) {
    animation: scroll-animation 0.5s 0.2s alternate infinite;
}

@keyframes scroll-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.tutorial{
   width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}
/*body {*/
/*    background: linear-gradient(-45deg, 	#000000, 	#282828, #343a40, 	#383838);*/
/*    background-size: 400% 400%;*/
/*    animation: gradient 5s ease infinite;*/
/*}*/
/*@keyframes gradient {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*}*/


p {
    color: black;
    font-size: 20px;
    line-height: 22px;
    font-weight: 300;
    padding: 10px;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.course-col{
    flex-basis: 31%;
    background:	#343a40;
    border-radius:10px ;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col h3{
    color: white;
}
.course-col:hover{
    box-shadow: 0 0 20px 0 rgb(96,96,96);
}

.problems{
    width: 100%;
    margin: auto;
    background: #343a40;
    text-align: center;
    justify-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: 'Poppins', sans-serif;
}
.problems-col{
    align-content: center;
    text-align: center;
    justify-items: center;
}
.problems h1{
    color: white;
}
.problems p{
    color: white;
}
.card-body p {
    color: black;
}
.tools{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Poppins', sans-serif;
}
.btn-primary {
    border-color: #343a40;
}
.logo:hover , .logo:focus{
    color: white;
}