@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.examples {
    padding: 20px;
    background-color: white;
    border: #6d7597 2px solid;
    border-radius: 3px;
}

.tocopy {
    cursor: pointer;
    background: none;
    border: none;
}

pre {
    white-space: pre-line;
    /*font-family: "Hack Nerd Font";*/
    font-family: "Lato", arial, sans-serif;
    font-size: 1.1em;

}

i {
    font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    letter-spacing: normal;
}

.col-sm-5 {
    padding-left: 0px !important;
    padding-top: 20px !important;
}

.CodeMirror {
    height: 490px;
}

#vim:focus {
    box-shadow: none;
}

.vimMode {
    background-color: #ececec;
}