.examples{
    padding: 20px;
    background-color: #ffffeb;
    border: #6d7597 2px solid;
    border-radius: 3px;
}
.tocopy
{
    cursor:pointer;
    background:none;
    border:none;
}
pre{
    white-space: pre-line;
    font-family: "Hack Nerd Font";
}
h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    letter-spacing: normal;
}